// HOVER

@mixin hover-primary-white($radius: 6px) {
  transform: all 0.2s ease-in-out;
  &:hover {
    background-color: $black;
    opacity: 1;
    color: $white;
    border-radius: $radius;
    cursor: pointer;
  }
}

@mixin hover-text-secondary {
  transform: all 0.2s ease-in-out;
  &:hover {
    color: $red;
    opacity: 1;
    cursor: pointer;
  }
}

@mixin hover-bg-secondary {
  transform: all 0.2s ease-in-out;
  &:hover {
    background: $red !important;
    border: 1px solid $red !important;
    opacity: 1 !important;
    cursor: pointer;
  }
}

@mixin hover-bg-gray-25 {
  transform: all 0.2s ease-in-out;
  &:hover {
    background: $gray-100;
    opacity: 1 !important;
    cursor: pointer;
  }
}

@mixin hover-color-secondary {
  transform: all 0.2s ease-in-out;
  &:hover {
    color: $red !important;
    opacity: 1 !important;
    cursor: pointer;
  }
}

