//  POTISITION

@mixin position-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin position-center-right($right: 10%) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $right;
  }
  
  @mixin position-center-left($left: 10%) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $left;
  }
  @mixin position-top-right($top: 10%, $right: 10%) {
    position: absolute;
    top: $top;
    right: $right;
  }

  @mixin position-top-left($top: 10%, $left: 10%) {
    position: absolute;
    top: $top;
    left: $left;
  }
  @mixin position-bottom-left($bottom: 100%, $left: 0%) {
    position: absolute;
    bottom: $bottom;
    left: $left;
  }