.btn {
  font-size: $btn-font-size;
  color: $white;
  &.btn-xs {
    padding: $btn-py-xs $btn-px-xs;
  }
  &.btn-sm {
    padding: $btn-py-sm $btn-px-sm;
  }
  &.btn-md {
    padding: $btn-py-md $btn-px-md;
    font-size: calc($btn-font-size + 0.05rem);
  }
  &.btn-lg {
    padding: $btn-py-lg $btn-px-lg;
    font-size: calc($btn-font-size + 0.1rem);
  }
  &.btn-xl {
    padding: $btn-py-xl $btn-px-xl;
    font-size: calc($btn-font-size + 0.3rem);
  }
  &.btn-icon {
    @include flex-gap($gap: 8px);
    align-items: center;
  }

  &.btn-full-w {
    width: 100%;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background-color: $value;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .btn-outline-#{$color} {
    border: 1px solid $value;
    color: $black;

    &:hover {
      color: $white;
    }
  }
}
