//  ICONS SIZE
.icon-size-xl {
  font-size: calc($px-1 * 80);
}
.icon-size-lg {
  font-size: calc($px-1 * 50);
}
.icon-size-md {
  font-size: calc($px-1 * 40);
}
.icon-size-sm {
  font-size: calc($px-1 * 30);
}
.icon-size-2xs {
  font-size: calc($px-1 * 20);
}
.icon-size-xs {
  font-size: calc($px-1 * 15);
}
