.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle, #b9f3fc, #aee2ff, #93c6e7, #fedeff);
  opacity: 1;
  @include flex-center;
  div {
    background-image: url("https://res.cloudinary.com/dkkh1gtoj/image/upload/v1698038197/viettaiit-ecommerce/loading.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 10%;
    height: 10%;
  }
}
